@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Projects
        4.4 services
        4.5 Form
        4.6 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --paars: #5722CD;
    --blauw: #4845E4;
    --roze :#ED4385;
    --zwart: #0C0C0C; /*(voor standaard tekst);*/
    --lichtpaars: #F2F0FF; /*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    --lichtgrijs: #F3F6F9; /*(voor de achtergrond van de projecten)*/
    --grijs: #7A7A7A; /*voor de service-tegel tekst)*/
    --triangle-height: 1.8rem;
}

a {
    text-decoration: none;
    color: var(--paars);
}
/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4, h5 ,h6 {
    font-family: "Merriweather", serif;
}
html {
    font-size: 1rem;
    overflow-x: hidden;
}
body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}
h1 {
   font-size: 2.5em;
}
h2, h4 {
    color: var(--paars);
}
h3 {
    font-size: 1.6em;
    font-weight: 400;
}
h4 {
    font-size: 1.2em;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    border: solid 5px brown;
    position: relative;
}

.inner-container {
    display: flex;
    flex-direction: column;
    border: dashed 5px coral;
    flex-basis: 1200px;
    margin: 0 10px;
}
.inner-container-small {
    display: flex;
    flex-direction: column;
    border: dashed 5px coral;
    flex-basis: 800px;
    margin:0 10px;
    gap: 20px;
    text-align: center;
}
.triangle-section-divider {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-right: 100vw solid transparent;
        border-bottom: var(--triangle-height) solid white;
    }

/*------link hover effect--------*/
.link-wrapper {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    width: fit-content;
    height: fit-content;
    /*border: solid 3px #272727;*/
    text-align: center;
    position: relative;
    transition: all .3s;
}
.link-wrapper:before {
    position: absolute;
    content: "";
    width: 20%;
    height: 1px;
    top: 50%;
    left: 110%;
    background-color: var(--paars);
    transition: all .3s;
}
.link-wrapper:hover:before {
    width: 50%;
}
/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: var(--blauw);
    background: linear-gradient(130deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: white;
    position: relative;
}
nav {
    border: solid yellow 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
ul {
    border: solid lightblue 5px;
    display: flex;
    flex-basis: 1200px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0 10px
}
li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
}

.header-content-outer-container {
    position: relative;
}

.header-content {
    margin-top: 80px;
    margin-bottom: 100px;
}

.header-content > p {
    font-size: 1.3em;
    font-weight: 300;
}
button {
    padding: 20px 30px;
    font-size: 1em;
    background-color: var(--roze);
    color: white;
    width: max-content;
    margin: 0 auto 30px auto;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header-image-container {
    width: 60px;
    position: absolute;
    left: calc(50% - 30px);
    bottom: -20px;
}

.header-image-container > img {
    width: 100%;
}


/* --------------- 4.2 Introduction ------------------- */

.section-intro > div:nth-of-type(1){
    margin-top: 100px;
    margin-bottom: 150px;
}
.section-intro div p {
    padding: 50px 0;
}

.section-intro .inner-container-small:before {
    width: 100%;
    height: 100%;
    top: 30%;
    left: 0;
    scale: 25;
    font-weight: 500;
    content: "hello";
    color: var(--lichtpaars);
    z-index: -1;
    opacity: 70%;
    position: relative;
}
.section-intro .triangle-section-divider {
    border-bottom: var(--triangle-height) solid var(--lichtgrijs);
}

/* --------------- 4.2 Projects ------------------------- */
.section-projects {
    background-color: var(--lichtgrijs);
    padding-top: 9em;
    padding-bottom: 9em;
    position: relative;
}


.section-projects .inner-container{
    flex-direction: column;
    gap: 40px;
}

.project-article-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid blue;
    width: 100%;
    justify-content: space-around;

}

/* -------  card content   ------- */
.project-content-container {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 380px;
    flex-direction: column;
    border: 3px solid red;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 40px 0 20px;
    height: 200px;
    z-index: 1;
    position: relative;
}
.card-content-image {
    width: 40px;
    /*border: 1px solid yellow;*/
    position:absolute;
    top: 40px;
}
.article-content-image {
    /*border: solid 3px green;*/
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    flex-basis: 650px;
    flex-shrink: 2;
    z-index: 1;
    margin: 30px 0;

}

.card-content-image img, .article-content-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.project-article-container:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}
.project-article-container:nth-child(even) > .project-content-container {
    margin: 0 20px 0 40px;
}


.section-projects > .inner-container{
    position: relative;
}

.project-article-container:before {
    content: "Work";
    width: max-content;
    height: max-content;
    font-weight: 900;
    color: white;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 50%;
    scale: 18;
    opacity: 70%;
}


/*----------   services  -----------*/

.section-services > .inner-container {
    margin-top: 150px;
    margin-bottom: 100px;
}
.section-services > .inner-container:before {
    content: "services";
    width: fit-content;
    height: fit-content;
    top: -40px;
    left: 48%;
    color: var(--lichtpaars);
    position: relative;
    scale: 14;
    font-weight: 900;
    opacity: 70%;
    z-index: -1;
}
.service-card-container {
    display: flex;
    border: 2px dashed yellowgreen;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.service-card {
    flex-basis: 300px;
    max-width: 350px;
    height: 300px;
    border: 1px solid var(--paars);
    padding: 30px;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.service-card > img {
    width: 60px;
    margin-bottom: 10px;
}
.service-card > p {
    font-size: .9rem;
    color: var(--grijs);
    margin-top: 20px;
    font-weight: 300;
}

.section-services > .triangle-section-divider-reversed {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: var(--triangle-height) solid black;
    transform: rotate(180deg);
}
/* ------------------------------- 5. Media Queries -------------------------------- */
@media  screen and (max-width: 768px) {
    body {
        font-size: .9rem;
    }
}

/*Dummy tekst*/
/*Your website is an investment in the success of your business.*/
/*We are here to help you succeed.*/

/*Let's work together*/

/*Hello*/
/*Rekupe is a digital agency in Los Angeles. We use strategic UX, SEO optimization and beautiful visual designs to help your business grow. We see every project as a fresh opportunity, pushing ourselves to create new digital experiences. Have a question? Click here to contact us!*/

/*Work*/
/*Rolling Stone*/

/*You know Rolling Stone. It’s the definitive voice in music, politics and culture. It’s a global icon.*/

/*Variety*/

/*Variety is an industry leader for breaking entertainment news, reviews and box office results with archive of content dating back to 1905.*/

/*                                                                                                                                         Worth*/

/*                                                                                                                                         A global media platform connecting a community that embraces worth beyond wealth.*/

/*                                                                                                                                         Services*/
/*                                                                                                                                         Web Design Good web design is how companies stand out from their competitors. High quality web design leads to increased user conversion and engagement. Through a proven web design process, we help clients launch websites and products that improve on their bottom line.*/

/*Web Development Modern websites need to be responsive and fully functional at all sizes. We develop all of our sites with a mobile first approach and ensure that our code quality is clean, organized and performant. Already have a design but need it developed? We’re here to help!*/

/*User Experience In order to build successful products you have to understand the user. We create user personas, wireframes and prototypes to test with users. This allows us to gather feedback which helps to shape the product and can quickly eliminate potential risks – saving you time and money.*/

/*Logo Design + Branding Nike, Apple, Coca-Cola, Starbucks. What do all of these brands have in common? Easily recognizable logos and brand identity. The best brands stand out from the crowd by having a clear and unique point of view. We will work with you to understand your vision and help create a unique brand identity and style guide for your company.*/

/*SEO Do you want your site to rank higher in search results? Google is constantly changing their algorithms for how they rank pages. Don’t worry about constantly playing catch-up. We will make sure your website it optimized, providing you the best opportunities for organic search exposure.*/

/*Copy Writing Brand messaging needs to be clear, direct and easy to understand to be effective. A unique tone of voice will help you stand out from the crowd and build brand loyalty. We work with you to establish your brand bible and ensure your messaging is focused and targeted.*/

/*Form*/
/*Let's work together*/


/*Copy Writing Brand messaging needs to be clear, direct and easy to understand to be effective. A unique tone of voice will help you stand out from the crowd and build brand loyalty. We work with you to establish your brand bible and ensure your messaging is focused and targeted.*/

/*Form*/
/*Let's work together*/

/*Have a question? Need a quote? Let us know!*/

/*Footer*/
/*Business website opdracht © NOVI Hogeschool 2022*/
